:root{
    /* FONT FAMILY */
    --ff-fst: 'Major Mono Display', monospace;
    --ff-sec: 'Livvic', sans-serif;
    /* FONT WEIGHT */
    --fw-extraLight: 200;
    --fw-regular: 400;
    --fw-bold: 700;
    /* COLOR */
    --clr-praimry: #ffc838;
    --clr-text: #000000;
    --clr-crad: #ffffff;
    --clr-navbtns-bg: #ffffff40;
    --clr-ligth-black: rgba(0, 0, 0, 0.25);
    /* BOX SHADOW */
    --bs-4px : 4px 6px 4px 0px var(--clr-ligth-black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: var(--clr-praimry); */
}
body::-webkit-scrollbar{
    display: none;
}
/* NAV bar */
nav{
    width: 100vw;
    height: 100px;
    font-family: var(--ff-sec);
    background-color: var(--clr-praimry);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--bs-4px);
}
nav .nav-container{
    display: flex;
    flex-direction: row;
}
nav .nav-container .nav-logo a img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    left: 20%;
}
nav .nav-container #check{
    display: none;
}
nav .nav-container label{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 00px;
    top: 0px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    cursor: pointer;
}
nav .nav-container label .fa-ellipsis-v{
    font-size: 2.5rem;
}
nav .nav-container .nav-menu{
    background-color: var(--clr-navbtns-bg);
    width: 100vw;
    height: 400px;
    position: absolute;
    top: -3000px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: var(--bs-4px);
    transition: top 450ms ease;
    z-index: 3;
}
nav .nav-container .nav-menu ul{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}
nav .nav-container .nav-menu ul li{
    font-family: var(--ff-sec);
    font-weight: var(--fw-regular);
    font-size: 30px;
}
nav .nav-container .nav-menu ul li a{
    color: var(--clr-text);
    text-decoration: none;
}
#check:checked ~ .nav-menu{
    top: 100px;
}
/* END OF NAV */
/* HERO SECTION */

.hero-section .hero-heading{
    position: absolute;
    padding: 1rem;
    z-index: 1;
}
.hero-section .hero-heading .hero-head-name{
    font-family: var(--ff-fst);
    font-size: 3rem;
}
.hero-section .hero-heading p{
    font-family: var(--ff-sec);
    font-size: 1.8rem;
    font-weight: var(--fw-extraLight);
}
.hero-section .hero-mobile-svg{
    position: absolute;
}
.hero-section .hero-mobile-svg img{
    width: 75.5vw;
}
.hero-section .hero-img{
    width: 100vw;
    height: 72vh;
    background-color: #ffc7383e;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}
.hero-section .hero-img img{
    width: 100%;
    z-index: -1;
}
/* End HERO Section */
/* About SECTION */
.about-section{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 50vh;
	background-color: var(--clr-praimry);
    padding: 1rem;
}
.about-section .about-heading{
	font-family: var(--ff-fst);
	font-size: 1.5rem;
	text-decoration: underline;
	text-transform: uppercase;
}
.about-section .about-container{
	display: flex;
	flex-direction: row;
	padding: 1rem;
}
.about-section .about-container .about-info{
	font-family: var(--ff-sec);
	font-weight: var(--fw-regular);
	font-size: 1rem;
	text-align: center;
}
.about-section .about-container .about-img{
	display: none;
}
/* END OF About SECTION  */
/* SKILLS SECTION */
.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: var(--clr-praimry);
    padding: 1rem;
}
.skills-section .skills-heading h1{
    font-family: var(--ff-fst);
    font-size: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
}
.skills-section .skills-heading h1::first-letter{
    text-transform: lowercase;
}
.skills-section .skills-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 80vw;
    height: 20vh;
    font-family: var(--ff-sec);
}
.skills-section .skills-cards-container .skills-cards{
    border-bottom: 5px solid var(--clr-text);
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.skills-section .skills-cards-container .skills-cards .fa-caret-down{
    font-size: 1.5rem;
    color: var(--clr-text);
}
/* END OF SKILLS SECTION */
/* OFFER SECTION */
.offer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: var(--clr-praimry);
    padding-inline: 4rem;
}
.offer-section h1{
    font-family: var(--ff-fst);
    font-size: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
}
.offer-section h1::first-letter{
    text-transform: lowercase;
}
.offer-section p{
    font-family: var(--ff-sec);
    font-weight: var(--fw-regular);
    font-size: 1.5rem;
    text-align: center;
}
/* END OF OFFER SECTION */