:root{
    /* FONT FAMILY */
    --ff-fst: 'Major Mono Display', monospace;
    --ff-sec: 'Livvic', sans-serif;
    /* FONT WEIGHT */
    --fw-extraLight: 200;
    --fw-regular: 400;
    --fw-bold: 700;
    /* COLOR */
    --clr-praimry: #ffc838;
    --clr-text: #000000;
    --clr-crad: #ffffff;
    --clr-navbtns-bg: #ffffff40;
    --clr-ligth-black: rgba(0, 0, 0, 0.25);
    /* BOX SHADOW */
    --bs-4px : 4px 6px 4px 0px var(--clr-ligth-black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--clr-praimry);
}
body::-webkit-scrollbar{
    display: none;
}
/* NAV bar */
nav{
    width: 100vw;
    height: 100px;
    font-family: var(--ff-sec);
    background-color: var(--clr-praimry);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	position: static;
	top:0;
	z-index: 4;
}
nav .nav-container{
    display: flex;
    flex-direction: row;
}
nav .nav-container .nav-logo a img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    left: 20%;
}
nav .nav-container #check{
    display: none;
}
nav .nav-container label{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 00px;
    top: 0px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    cursor: pointer;
}
nav .nav-container label .fa-ellipsis-v{
    font-size: 2.5rem;
}
nav .nav-container .nav-menu{
    background-color: var(--clr-navbtns-bg);
    width: 100vw;
    height: 400px;
    position: absolute;
    top: -3000px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: var(--bs-4px);
    transition: top 450ms ease;
    z-index: 3;
}
nav .nav-container .nav-menu ul{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}
nav .nav-container .nav-menu ul li{
    font-family: var(--ff-sec);
    font-weight: var(--fw-regular);
    font-size: 30px;
}
nav .nav-container .nav-menu ul li a{
    color: var(--clr-text);
    text-decoration: none;
}
#check:checked ~ .nav-menu{
    top: 100px;
}
/* END OF NAV */
/* HERO SECTION */

.hero-section .hero-heading{
    position: absolute;
    padding: 1rem;
    z-index: 1;
}
.hero-section .hero-heading .hero-head-name{
    font-family: var(--ff-fst);
    font-size: 3rem;
}
.hero-section .hero-heading p{
    font-family: var(--ff-sec);
    font-size: 1.8rem;
    font-weight: var(--fw-extraLight);
}
.hero-section .hero-heading img{
	display: none;
}
.hero-section .hero-mobile-svg{
    position: absolute;
}
.hero-section .hero-mobile-svg img{
    width: 75.5vw;
}
.hero-section .hero-img{
    width: 100vw;
    height: 72vh;
    background-color: #ffc7383e;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}
.hero-section .hero-img img{
    width: 100%;
    z-index: -1;
}
.hero-section .hero-button button{
	padding: 1rem;
	background-color: var(--clr-praimry);
	color: var(--clr-text);
	border: none;
	border-radius: 40px;
	font-size: 1.5rem;
	font-family: var(--ff-sec);
	font-weight: var(--fw-bold);
	position: absolute;
	top: 60vh;
	right: 7vw;

}
.hero-section .hero-button button:hover{
	background-color: var(--clr-navbtns-bg);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
/* End HERO Section */
/* About SECTION */
.about-section{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: auto;
	background-color: var(--clr-praimry);
    padding: 1rem;
}
.about-section .about-heading{
	font-family: var(--ff-fst);
	font-size: 1.5rem;
	text-decoration: underline;
	text-transform: uppercase;
}
.about-section .about-container{
	display: flex;
	flex-direction: row;
	padding: 1rem;
}
.about-section .about-container .about-info{
	font-family: var(--ff-sec);
	font-weight: var(--fw-regular);
	font-size: 1rem;
	text-align: center;
}
.about-section .about-container .about-img{
	display: none;
}
/* END OF About SECTION  */
/* SKILLS SECTION */
.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: var(--clr-praimry);
    padding: 1rem;
}
.skills-section .skills-heading h1{
    font-family: var(--ff-fst);
    font-size: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
}
.skills-section .skills-heading h1::first-letter{
    text-transform: lowercase;
}
.skills-section .skills-svg #mobile-icons{
	margin-top: 1rem;
}
.skills-section .skills-svg #desktop-icons{
	display:  none;
}
.skills-section .skills-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 80vw;
    height: auto;
    font-family: var(--ff-sec);
}
.skills-section .skills-cards-container .skills-cards{
    border-bottom: 5px solid var(--clr-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}
.skills-section .skills-cards-container .skills-cards .up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.skills-section .skills-cards-container .skills-cards .skills-cards-p{
    display: none;
    position: relative;
    background-color: var(--clr-crad);
    width: 70%;
    top: 20px;
    box-shadow: var(--bs-4px);
    padding: 1rem;
    z-index: 1;
}
.skills-section .skills-cards-container .skills-cards:hover{
	display: flex;
	flex-direction: column;
}
.skills-section .skills-cards-container .skills-cards:hover .skills-cards-p{
    display: flex;
}
.skills-section .skills-cards-container .skills-cards .fa-caret-down{
    font-size: 1.5rem;
    color: var(--clr-text);
}
.skills-section .skills-cards-container .skills-cards .fa-caret-up{
    font-size: 1.5rem;
    color: var(--clr-text);
    display: none;
}
.skills-section .skills-cards-container .skills-cards:hover .fa-caret-down{
    display: none;
}
.skills-section .skills-cards-container .skills-cards:hover .fa-caret-up{
    display: block;
}
/* END OF SKILLS SECTION */
/* OFFER SECTION */
.offer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: var(--clr-praimry);
    padding-inline: 4rem;
}
.offer-section h1{
    font-family: var(--ff-fst);
    font-size: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
}
.offer-section h1::first-letter{
    text-transform: lowercase;
}
.offer-section .offer-content p{
    font-family: var(--ff-sec);
    font-weight: var(--fw-regular);
    font-size: 1.5rem;
    text-align: center;
}
.offer-section .offer-content img{
	display: none;
}
/* END OF OFFER SECTION */
/* MY work section */
.work-section{
	width:  100vw;
	height: auto;
	background-color: var(--clr-praimry);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.work-section .work-heading{
	font-size: 1.5rem;
	font-family: var(--ff-fst);
	text-decoration: underline;
	text-transform: uppercase;
}
.work-section .work-card-container .work-card{
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-block: 2rem;
	padding-inline: 1rem;
}
.work-section .work-card-container .work-card .work-card-img{
	width: 70vw;
	margin: 1rem;
}
.work-section .work-card-container .work-card .work-card-img img{
	width: 70vw;
}
.work-section .work-card-container .work-card .work-card-title{
	font-family: var(--ff-fst);
	font-size: 2rem;
	text-transform: uppercase;
	margin: 1rem;
}
.work-section .work-card-container .work-card .work-card-desc{
	width: 100%;
	background-color: var(--clr-crad);
	padding-inline: 2rem;
	padding-block: 1rem;
	text-align: center;
	font-size: 1.2rem;
	font-family: var(--ff-sec);
}
.work-section .work-card-container .work-card .work-card-button{
	margin-top: 1rem;
}
.work-section .work-card-container .work-card .work-card-button button{
	padding: .2rem;
	width: 30vw;
	font-size: 1.5rem;
	font-family: var(--ff-sec);
	font-weight: var(--fw-bold);
	background-color: var(--clr-crad);
	border-radius: 30px;
	border: none;
	color: var(--clr-text);
}
.work-section .work-card-container .work-card .work-card-button button:hover{
	background-color: var(--clr-text);
	color: var(--clr-crad);
}
.contact-section{
	width: 100vw;
	padding: 2rem;
	background-color: var(--clr-crad);
	color: #808080;
	text-decoration: none;
}
.contact-section .contact-heading{
	font-family: var(--ff-fst);
	padding-bottom: 1rem;
	font-size: 1.5rem;
}
.contact-section .contact-container .contact-info{
	font-family: var(--ff-sec);
	font-weight: var(--fw-extraLight);
	font-size: 1rem;
}
.contact-section .contact-container .contact-info p a{
	text-decoration: none;
	color: var(--clr-praimry);
}
.error{
	display: none;
}
/* END MY WORK */
@media screen and (min-width: 440px){
	.error{
		background-color: var(--clr-praimry);
		position: fixed;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		text-align: center;
		color: red;
		z-index: 5;
	}
	.error h1{
		font-family: var(--ff-fst);
	}
	.error p{
		padding-inline: 2rem;
		margin-top: 2rem;
		font-family: var(--ff-sec);
		font-weight: var(--fw-regular);
	}
}
@media screen and (min-width: 769px){
	.error{
		display: flex;
	}
}
@media screen and (min-width: 1240px){
	body{
		display: grid;
		place-items: center;
		background-color: #dcdcdc;
	}
	.error{
	display: none;}
	/* NAV BAR*/
	nav{
		background-color: var(--clr-crad);
		justify-content: right;
		padding-left: 2rem;
	}
	nav .nav-container .nav-logo a img{
		left: 5vw;
	}
	nav .nav-container label .fa-ellipsis-v{
		display: none;
	}
	nav .nav-container .nav-menu{
		max-width: 50vw;
		padding-inline: 2rem;
		height: auto;
		position: static;
		top: 0;
		background: none;
		-webkit-backdrop-filter: blur(0);
		backdrop-filter: blur(0);
		box-shadow: none;
	}
	nav .nav-container .nav-menu ul{
		min-width: 100%;
		height: auto;
		flex-direction: row;
		justify-content: space-around;
	}
	nav .nav-container .nav-menu ul li{
		font-size: 1.4rem;
		font-weight: var(--fw-extraLight);
		padding-bottom: .5rem;
		transition: all 1s ease;
	}
	nav .nav-container .nav-menu ul li:hover{
		border-bottom: 2px solid var(--clr-praimry);
	}
	/* END OF NAV BAR */
	/* HERO SECTION */
	.hero-section{
		background-color: var(--clr-crad);
		width: 100vw;
		height: 90vh;
	}
	.hero-section .hero-heading{
		width: 50vw;
		height: 80vh;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-left: 4rem;
	}
	.hero-section .hero-heading .hero-head-name{
		font-size: 4rem;
	}
	.hero-section .hero-heading p{
		padding-top: 2rem;
	}
	.hero-section .hero-heading p img{
		position: absolute;
		top: 25%;
		z-index: -1;
		width: 45px;
	}
	.hero-section .hero-mobile-svg{
		display: none;
		z-index: 0;
	}
	.hero-section .hero-img{
		background: none;
		width: 50vw;
		height: 80vh;
		z-index: 0;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
	}
	.hero-section .hero-img #my-image{
		width: 50%;	
		z-index: 0;
		border-radius: 50px;
	}
	.hero-section .hero-button button{
		position: absolute;
		top: 85vh;
		bottom: 5vh;
		left: 5vw;
		right: 80vw;
		z-index: 2;
		border-radius: 10px;
	}
	.hero-section .hero-button button:hover{
		background-color: var(--clr-text);
		color: var(--clr-praimry);
	}
	/* END OF HERO SECTION */
	/* ABOUT SECTION */
	.about-section{
		width: 80vw;
		height: 80vh;
		align-items: flex-start;
		padding-left: 2rem;
	}
	.about-section .about-container{
		flex-direction: row;
	}
	.about-section .about-container .about-info{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding-inline: 2rem;
	}
	.about-section .about-container .about-info p{
		width: 50%;
		font-size: 1.5rem;
		font-weight: var(--fw-extraLight);
		height: auto;
		text-align: left;
	}
	.about-section .about-container .about-info .about-img{
		display: block;
		width: 50%;
	}
	.about-section .about-container .about-info .about-img img{
		border-radius: 30px 0px 30px 0px;
		width: 20vw;
	}
	/* END OF ABOUT SECTION */
	/* SKILL SECTION */
	.skills-section{
		width: 80vw;
		height: 80vh;
		padding: 2rem;
	}
	.skills-section .skills-heading{
		width: 100%;
		align-items: flex-start;
		padding-bottom: 1rem;
	}
	.skills-section .skills-svg{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.skills-section .skills-svg #mobile-icons{
		display: none;
	}
	.skills-section .skills-svg #desktop-icons{
		display: block;
		width: 90%;
	}
	.skills-section .skills-cards-container{
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.skills-section .skills-cards-container .skills-cards{
		border: none;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;
	}
	.skills-section .skills-cards-container .skills-cards .fa-caret-down{
		display: flex;
	}
	.skills-cards .skills-cards-container .skills-cards .skills-cards-p{
		display: flex;
		width: 100%;
		height: 100%;
		border-radius:50px;
		cursor: pointer;
	}

	/* END SKILL SECTION */

	/* OFFER SECTION */
	.offer-section{
		width: 80vw;
		height: 60vh;
		justify-content: space-around;
		align-items: flex-start;
	}
	.offer-section .offer-content{
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.offer-section .offer-content p{
		text-align: left;
		width: 50%;
		font-weight: var(--fw-extraLight);
	}
	.offer-section .offer-content img{
		width: 20vw;
		display: block;
		border-radius: 20px 0px 20px 0px ;
	}
	/* END OFFER SECTION */
	/* WORK SECTION */
	.work-section{
		width: 80vw;
		height: auto;
	}
	.work-section .work-card-container{
		width: 100%;
		height: auto;
		padding-inline: 2rem;
		display: flex;
		flex-wrap: wrap;
	}
	.work-section .work-card-container .work-card{
		width: 50%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.work-section .work-card-container .work-card .work-card-img{
		width: 100%;
		display: grid;
		place-items: center;
	} 
	.work-section .work-card-container .work-card .work-card-img img{
		width: 50%;
	}
	.work-section .work-card-container .work-card .work-card-desc{
		width: 50%;
		height: fit-content;
	}
	.work-section .work-card-container .work-card .work-card-button{
		width: 80%;
		height: auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.work-section .work-card-container .work-card .work-card-button button{
		width: 10vw;
		height: 5vh;
	}
	.work-section .work-card-container .work-card .work-card-button button:hover{
		color: var(--clr-praimry);
	}
	/* END OF WORK SECTION */
	/* CONTACT SECTION */
	.contact-section{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 30vh;
	}
	.contact-section .contact-info p{
		font-weight: var(--fw-bold);
	} 
	/* END OF CONTACT SECTION */
}
